@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Pacifico&display=swap');


@import "tailwindcss";

@theme {
  --font-pacifico: 'Pacifico', cursive;
  --font-nunito: 'Nunito', sans-serif;
}

@keyframes floatSlow {
  0% {
    transform: translateY(0px) translateX(0px);
  }
  50% {
    transform: translateY(-100px) translateX(-500px);
  }
  100% {
    transform: translateY(0px) translateX(0px);
  }
}